
        :root {
            --background-color: #f5f5f5;
            --content-background: #d4b59a;
            --text-color: #808080;
            --link-hover: #d8899f;
            --title:#d8899f;

            --body-font: "Montserrat";
            --font-size: 5vw;
            --bubble-background: #e2ddcf;
            --old-title:#BD9879;

            /* fun colors */
            --light-blue: #8fc0bd;
            --parchment: #e7e4db;
            --dark-pink: #d8899f;
            --yellow: #dcdd80;
            --lighter-pink: #e6b9c5;
            --darker-pink: #c56882;



        }

        body {
            font-family: var(--body-font);
            font-size: var(--font-size);
            color: var(--text);
            
            letter-spacing: 0.04em;
            color: var(--text-color);
            overflow: scroll;
            overflow-x: hidden;

        }
        
        .title {
            text-align:left;
            letter-spacing:1px;
            margin-left: 30vw;
            color:var(--title);
            
        }

        .section-header {
            text-align:center;
            letter-spacing:1px;
            margin-top: 5vw;
            color:var(--text-color);
            font-weight: lighter;
        }

        .picture {
            padding-top: 16vw;
            margin-left: 13vw;
            float: left;
            }


        .picture img {
            height:15vw;
            width:15vw;
            
            border-radius:25%;
        }

        a {
            color: var(--text-color);
        } 

        a:hover {
            color: var(--link-hover);
        }
        .aboutme {

            text-align: left;
            padding-top: 16vw;
            color: var(--text-color);
            font-size: 2vw;
            margin-left:30vw;
        }

        .aboutme2 {

            text-align: left;
            
            color: var(--text-color);
            font-size: 2vw;
            margin-left:30vw;
        }


        .links {
            display: inline-block;
            margin-left:55vw;
        }

        .links a {
            display:inline;
            padding-right:10px;
            letter-spacing:0.5px;
            font-size:1.5vw;
            font-weight:500;
        }

        .links #nav li {
            display:inline-block;           
        }
        
        .header {
            text-align:center;
            letter-spacing:1px;
            color: var(--text-color);
            font-size: 1.5vw;
            text-align: center;
            font-weight: lighter;
            
            
        }
        body::-webkit-scrollbar {
            width: 15px;
        }
        
        body::-webkit-scrollbar-track {
            background-color: #e2ddcf;
            border-radius: 100px;
        }
         
        body::-webkit-scrollbar-thumb {
            background-color:  var(--dark-pink);
            border-radius: 100px;
        }

        body::-webkit-scrollbar-thumb:hover {
            background-color: var(--darker-pink);
        }

        .collapsing-section {
            background-color: var(--dark-pink);
            color: #fff;
            cursor: pointer;
            font-size:2vw;
            padding: 1vw;
            width: 50%;
            text-align: left;
            font-weight: bold;
            border: none;
            outline:none;
            transition:0.4s;
            font-family: var(--body-font);
            margin-left:25%;
        }

        .active {
            background-color: var(--darker-pink);

        }

        .collapsing-section:hover {
            background-color: var(--darker-pink);
        }

        .panel {
            padding: 0 18px;
            background-color: #fff;
            display: none;
            overflow: hidden;
            width: 50%;
            margin-left:25%;
            outline:none;
            letter-spacing:0.5px;
            font-size:1.5vw;
            font-weight:500;
        }
        
        .pattern {
            min-height: 200px;
        }

        #stripes {
            background-image: repeating-linear-gradient(70deg, #ccc, 2px, #dbdbdb, 2px, #dbdbdb 4px;)
        }